<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
        No need to specify the entire path for the css file.
        The path is relative to the public folder which is set as static in the server.js file.
    -->
    <link rel="stylesheet" href="styles/index.css">
    <title>Weather App</title>
</head>
<body>